.difficulty {
    width: 18px;
    height: 18px;
    border-radius: 5px;
}

.easy {
    background-color: lightgreen;
}

.medium {
    background-color: peru;
}

.hard {
    background-color: lightcoral;
}

.prompt-container {
    background-color: var(--background-secondary);
    height: 100%;
    width: 100%;
    flex: 1;
    padding: 15px 30px;
    margin: 15px;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}