.navbar-layout {
    height: 7vh;
    box-shadow: 0 2px 2px -2px rgba(0, 0, 0, .2);
    background-color: var(--background-secondary);
    display: flex;
    justify-content: center;
}

.navbar-inner-layout {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar-icon:visited {
    color: inherit;
}

.navigation-list {
    list-style: none;
}

.navigation-list-link {
    color: inherit;
    text-decoration: none;
    font-weight: 700;
}

.logout-button {
    cursor: pointer;
}

.menu-list {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.menu-list li {
    cursor: pointer;
}